<div class="independent-escort-step" [formGroup]="independentEscortform">
    @if(fields[currentStep].type === 'username-select') {
    <div class="options">
        <mat-form-field appearance="outline" class="field">
            <mat-label>{{fields[currentStep].label}}</mat-label>
            <input matInput formControlName="userName">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
    </div>
    <div class="btn-row">
        <a class="back-btn" (click)="back()">BACK</a>
        <button mat-flat-button class="nextstep-btn" type="button" (click)="continue()"
            [disabled]="independentEscortform.get('userName')?.invalid">NEXT STEP</button>
    </div>
    }

    @if (fields[currentStep].type === 'email-and-password-select') {
    <mat-form-field appearance="outline" class="field">
        <mat-label>{{fields[currentStep].label}}</mat-label>
        <input matInput formControlName="email">
        <mat-icon matPrefix>email</mat-icon>

        @if (independentEscortform.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
        }
        @if (independentEscortform.get('email')?.hasError('email')) {
        <mat-error>Please enter a valid email</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" tabIndex="-1">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if (independentEscortform.get('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
        }
        @if (independentEscortform.get('password')?.hasError('minlength')) {
        <mat-error>Password must be at least 6 characters</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <mat-icon matPrefix>lock_outline</mat-icon>
        <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword"
            tabIndex="-1">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if (independentEscortform.get('confirmPassword')?.hasError('required')) {
        <mat-error>Confirm password is required</mat-error>
        }
        @if (independentEscortform.get('confirmPassword')?.hasError('passwordMismatch') &&
        !independentEscortform.get('confirmPassword')?.hasError('required')) {
        <mat-error>Password do not match</mat-error>
        }
    </mat-form-field>
    <div class="btn-row">
        <a class="back-btn" (click)="back()">BACK</a>
        <button mat-flat-button class="nextstep-btn" type="button" (click)="continue()"
            [disabled]="!validationCredentials">NEXT STEP</button>
    </div>
    }

    @if (fields[currentStep].type === 'info-general-select') {
    <mat-form-field appearance="outline" class="field">
        <mat-label>Name of the companion</mat-label>
        <input matInput formControlName="nameCompanion">
        <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Sexo</mat-label>
        <mat-icon matPrefix>{{ validateSex }}</mat-icon>
        <mat-select formControlName="gender">
            @for (opcion of genders; track $index) {
            <mat-option [value]="opcion">
                {{ opcion }}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="slider-group">
        <label class="step-title">Age: {{ independentEscortform.get('age')?.value }}</label>
        <div class="slider-container-wide">
            <mat-slider min="18" max="99" step="1">
                <input matSliderThumb formControlName="age">
            </mat-slider>
        </div>
    </div>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Hair color</mat-label>
        <mat-icon matPrefix>palette</mat-icon>
        <mat-select formControlName="hairColor">
            @for (opcion of hairColor; track $index) {
            <mat-option [value]="opcion">
                {{ opcion }}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="btn-row">
        <a class="back-btn" (click)="back()">BACK</a>
        <button mat-flat-button class="nextstep-btn" type="button" (click)="continue()">NEXT STEP</button>
    </div>
    }

    @if (fields[currentStep].type === 'info-attributes-select') {
    <div class="slider-group">
        <label class="step-title">Height: {{ formatHeight(heightValue()) }}</label>
        <div class="slider-container-wide">
            <mat-slider min="1.0" max="2.2" step="0.1">
                <input matSliderThumb formControlName="height" (valueChange)="onHeightChange($event)">
            </mat-slider>
        </div>
    </div>

    <div class="slider-group">
        <label class="step-title">Weight: {{ formatWeight(independentEscortform.get('weight')?.value) }}</label>
        <div class="slider-container-wide">
            <mat-slider min="40" max="150" step="1">
                <input matSliderThumb formControlName="weight">
            </mat-slider>
        </div>
    </div>


    <div class="btn-row">
        <a class="back-btn" (click)="back()">BACK</a>
        <button mat-flat-button class="nextstep-btn" type="button" (click)="continue()">NEXT STEP</button>
    </div>
    }

</div>