<div class="independent-escort-step" [formGroup]="independentEscortform">
    @if (currentStep === 0 || currentStep === 1) {
    <app-credentials-step [form]="independentEscortform" [stepIndex]="currentStep" (next)="continue()"
        (back)="back()" />
    }

    @if(currentStep !== 0 && currentStep !== 1){
    <div class="title">
        <mat-label class="main-title">Complete your profile</mat-label>
        <div class="divider">
            <div class="line"></div>
        </div>
    </div>
    }

    @if (currentStep === 2) {

    <mat-form-field appearance="outline" class="field">
        <mat-label>Name of the companion</mat-label>
        <input matInput formControlName="nameCompanion">
        <mat-icon matPrefix>person</mat-icon>
        @if (independentEscortform.get('nameCompanion')?.hasError('required')){
        <mat-error>Name is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Gender</mat-label>
        <mat-icon matPrefix> {{ validateSex }}</mat-icon>
        <mat-select formControlName="gender">
            @for (opcion of genders; track $index) {
            <mat-option [value]="opcion">
                {{ opcion }}
            </mat-option>
            }
        </mat-select>
        @if (independentEscortform.get('gender')?.hasError('required') && independentEscortform.get('gender')?.touched){
        <mat-error>Gender is required</mat-error>
        }
    </mat-form-field>

    <div class="slider-group">
        <label class="step-title">Age: {{ independentEscortform.get('age')?.value }}</label>
        <div class="slider-container-wide">
            <mat-slider min="18" max="99" step="1">
                <input matSliderThumb formControlName="age">
            </mat-slider>
        </div>
    </div>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Hair color</mat-label>
        <mat-icon matPrefix>palette</mat-icon>
        <mat-select formControlName="hairColor">
            @for (opcion of hairColor; track $index) {
            <mat-option [value]="opcion">
                {{ opcion }}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="btn-row">
        <a class="back-btn" (click)="back()">BACK</a>
        <button mat-flat-button class="nextstep-btn" type="button" (click)="continue()"
            [disabled]="!areGenderandNameCompanionInvalid">
            NEXT STEP</button>
    </div>
    }

    @if (currentStep === 3) {
    <div class="slider-group">
        <mat-label class="step-title">Height: {{ formatHeight(heightValue()) }}</mat-label>
        <div class="slider-container-wide">
            <mat-slider min="1.0" max="2.2" step="0.1">
                <input matSliderThumb formControlName="height" (valueChange)="onHeightChange($event)">
            </mat-slider>
        </div>
    </div>

    <div class="slider-group">
        <mat-label class="step-title">Weight: {{ formatWeight(independentEscortform.get('weight')?.value) }}</mat-label>
        <div class="slider-container-wide">
            <mat-slider min="40" max="150" step="1">
                <input matSliderThumb formControlName="weight">
            </mat-slider>
        </div>
    </div>

    <div class="toggle-group">
        <mat-label class="step-title">Orientation</mat-label>
        <mat-button-toggle-group formControlName="orientation" class="custom-toggle-group">
            <mat-button-toggle value="heterosexual">Heterosexual</mat-button-toggle>
            <mat-button-toggle value="bisexual">Bisexual</mat-button-toggle>
            <mat-button-toggle value="gay">Gay</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Nationality</mat-label>
        <mat-icon matPrefix>public</mat-icon>
        <input matInput [matAutocomplete]="auto" formControlName="nationality">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" panelClass="nationality-autocomplete-panel">
            @for (nation of filteredNationalities | async; track nation.codes.alpha_2) {
            <mat-option [value]="nation">
                {{ nation.names.common }}
            </mat-option>
            }
        </mat-autocomplete>
        @if (independentEscortform.get('nationality')?.hasError('required')){
        <mat-error>Nationality is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-city">
        <mat-label>Base City</mat-label>
        <input matInput [matAutocomplete]="autoCity" formControlName="baseCity">
        <mat-icon matPrefix>location_city</mat-icon>
        <mat-autocomplete #autoCity="matAutocomplete">
            @for (city of baseCity; track city.id) {
            <mat-option [value]="city.name">
                {{ city.name }}
            </mat-option>
            }
        </mat-autocomplete>
        @if (independentEscortform.get('baseCity')?.hasError('required')){
        <mat-error>Base city is required</mat-error>
        }
        <mat-hint>We currently operate exclusively in Medellín.</mat-hint>
    </mat-form-field>

    <div class="btn-row">
        <a class="back-btn" (click)="back()">BACK</a>
        <button mat-flat-button class="nextstep-btn" type="button" (click)="continue()"
            [disabled]="!areOrientationAndNationalityInvalid">NEXT STEP</button>
    </div>
    }

    @if (currentStep === 4) {
    <div class="field-phone">
        <mat-form-field appearance="outline" class="field-internationalCode">
            <mat-label>Code</mat-label>
            <input matInput [matAutocomplete]="code" formControlName="interCodePhone">
            <mat-icon matPrefix>public</mat-icon>
            <mat-autocomplete #code="matAutocomplete">
                @for (country of internacionalCodePhone; track country.calling_code) {
                <mat-option [value]="country.calling_code">
                    {{ country.name }} ({{ country.calling_code}})
                </mat-option>
                }
            </mat-autocomplete>
            @if (independentEscortform.get('interCodePhone')?.hasError('required')){
            <mat-error>Code is required</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="field-phoneNumber">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
            <mat-icon matPrefix>phone</mat-icon>

            @if(independentEscortform.get('phone')?.hasError('required')){
            <mat-error>Phone is required</mat-error>
            }

            @if(independentEscortform.get('phone')?.hasError('minlength') ||
            independentEscortform.get('phone')?.hasError('maxlength')){
            <mat-error>Phone must be 10 characters</mat-error>
            }
        </mat-form-field>
    </div>

    <div formGroupName="careModality" class="careModality-field">
        <mat-label class="step-title">I serve in...</mat-label>
        <div class="checkbox-options">
            <mat-checkbox class="application-checkbox" formControlName="ownLocation">
                I see clients at my own location.
            </mat-checkbox>
            <mat-checkbox class="application-checkbox" formControlName="hotels">
                Hotels
            </mat-checkbox>
            <mat-checkbox class="application-checkbox" formControlName="customersAddress">
                Customer's address
            </mat-checkbox>
        </div>
    </div>

    <div class="availability-card">
        <div class="availability-row row-toggle">
            <span class="label-main">Available 24/7</span>
            <mat-slide-toggle formControlName="availableAllDay" hideIcon></mat-slide-toggle>
        </div>

        @if (!isAvailable247) {
        <div class="availability-divider"></div>

        <div class="availability-row row-hours">
            <span class="label-sub">Default hours (applies to all days)</span>

            <div class="hours-row">
                <mat-form-field appearance="outline" class="field-time">
                    <mat-label>From</mat-label>
                    <input matInput type="time" formControlName="scheduleFrom">
                </mat-form-field>

                <span class="hours-separator">-</span>

                <mat-form-field appearance="outline" class="field-time">
                    <mat-label>To</mat-label>
                    <input matInput type="time" formControlName="scheduleTo">
                </mat-form-field>
            </div>
        </div>
        }
    </div>
    <div class="btn-row">
        <a class="back-btn" (click)="back()">BACK</a>
        <button mat-flat-button class="nextstep-btn" type="button" (click)="continue()"
            [disabled]="!areGenderandNameCompanionInvalid">NEXT STEP</button>
    </div>
    }

    @if (currentStep === 5) {
    <div formGroupName="aplicaciones" class="applications-field">
        <mat-label class="step-title">Available applications</mat-label>
        <div class="checkbox-options">
            <mat-checkbox class="application-checkbox" formControlName="telegram">
                Telegram
            </mat-checkbox>
            <mat-checkbox class="application-checkbox" formControlName="whatsapp">
                WhatsApp
            </mat-checkbox>
        </div>
    </div>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Website / Url</mat-label>
        <input matInput formControlName="website">
        <mat-icon matPrefix>link</mat-icon>
    </mat-form-field>

    <div class="btn-row">
        <a class="back-btn" (click)="back()">BACK</a>
        <button mat-flat-button class="nextstep-btn" type="button" (click)="continue()"
            [disabled]="!areGenderandNameCompanionInvalid">NEXT
            STEP</button>
    </div>
    }
</div>